.program-part{
               /* width: 95%; */
}
.our-programs{
               font-size: 30px;
               /* border: 5px solid #473722; */
               /* border-bottom: 5px solid #473722  ; */

               /* padding: 20px;
               margin: 130px; */
               margin-top: 30px;
               margin-bottom: 30px;
               
               
               
}
