.blogs{
               margin-top: 40px;
               margin-bottom: 103px;
               padding-bottom: 50px;

}
.The-Journal{
color: brown;
font-family: Gabriola;
}
.journal{
               font-family: Gabriola;
               color: brown;    
               font-size: 25px;  
}